@import "tailwindcss";

/* Minimal Scrollbar Styles */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

/* Firefox Support */
* {
  scrollbar-width: thin;
  scrollbar-color: #e2e8f0 transparent;
}